textarea {
    min-height: 400px;
}

.email-read {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

.email-unread {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background: #eee;
}

/* .email:hover {
    background: #ddd;
}
 */
